/* ProjectPanel.css - 다크 모드 스타일 */

:root {
  --sidebar-radius: 40%;
}

.sidebar-container {
  background-color: #2c2929;
  padding: 0;
  height: 100%;
}

.project-message {
  color: #aaa;
  /* 흐린 회색 */
  font-size: 14px;
  padding: 16px;
}

/* 사이드바 아이콘 스타일 */
.sidebar-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14px;
  gap: 16px;
}

.sidebar-icon {
  width: 40px;
  height: 40px;
  border-radius: var(--sidebar-radius);
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 22px;
  transition: all 0.2s ease;
  /*background-color: rgba(255, 255, 255, 0.05);*/
  color: white;
}

.sidebar-icon:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateY(-2px);
  border-radius: var(--sidebar-radius);
}

/* .sidebar-icon.active {
  background-color: rgba(129, 128, 128, 0.813);
  color: white;
  box-shadow: 1 3px 10px rgba(255, 255, 255, 0.1);
} */

.add-icon {
  margin-top: auto;
  margin-bottom: 22px;
  font-size: 14px;
  font-weight: bold;
  /*background-color: rgba(255, 255, 255, 0.08) !important;*/
  color: white;
}

.add-icon:hover {
  background-color: rgba(255, 255, 255, 0.15) !important;
}

/* 반응형 조정 */
@media (max-width: 992px) {
  .layout.project-layout {
    width: 45px;
    min-width: 45px;
  }
}

/* 홈 아이콘 스타일 - 다크톤 */
.sidebar-icon.home-icon {
  margin: 4px;
  border-radius: var(--sidebar-radius);
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
  margin-bottom: 10px;
}

.sidebar-icon.home-icon:hover {
  background-color: #444;
  border-color: #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}