/* styles/TxtViewer.css */
.txt-viewer {
    margin-top: 50px;
    padding: 30px;
    height: 100%;
    background-color: #f9f9f9;
}

.txt-content {
    background-color: #f9f9f9;
    /* ✅ 줄바꿈 허용 */
    white-space: pre-wrap;
    /* ✅ 단어 중간에도 줄바꿈 허용 */
    word-break: break-word;
}